*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
body{
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}
header{
    background-color: #fefefe;
    position: fixed;
    width: 100vw;
    height: 126px;
}
#logo{
    width: 193px;
}
header nav ul{
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-left: 150px;
    /*Aumanetando a altura do header*/
    padding: 5px;
}
header nav a{
    font-weight: bold;
    color: #211b15;
    padding: 85px;
    /*ficar devagar ao passar o mouse*/
    transition: background-color 1s;
    margin-right: 20px;
}

/*Esse comando serve para remover o espacamento apos a ultima secao do menu*/
header nav a:last-child{
    margin-right: 0;
}
/*quando passar por cima do mouse*/
header nav a:hover{
    color: white;
    background-color: #E9DEF2;
}

.grupo{
    height: 100vh;
}

section{
    padding-left: 10vh;
    padding-right: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 65vw;
    margin-left: 180px;
    align-items: flex-start;
}

#div-retangulo{
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 310px;

}

#retangulo-destaque{
    width: 1305px;
    height: 620px;
    background: #E9DEF2;
    border-radius: 57px;
    display: flex;
    justify-content: space-between;
    /*align-items: center; */
    padding: 40px;
    margin-top: 550px;
}

#conteudo-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    margin-left: 50px;
    gap: 50px;
}

#conteudo-texto h1{
    width: 361px;
    height: 158px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    color: #3B1745;
    margin-top: -12px;
}

#conteudo-texto p{
    width: 327px;
    height: 161px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #3B1745;

}

#conteudo-texto b{
    width: 312px;
    height: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #4e1f5a;
}

#pag-inicial-img-fisica{
    width: 756px;
    height: 472px;
    margin-top: 65px;
    filter: drop-shadow(0px 4px 4px rgba(78, 31, 90, 0.36));
}

.layout-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 48px;
}

#texto-pag-inicial {
    width: 40%;
    max-width: 420px;
    margin: 0;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.5;
    font-weight: 550;
    margin-left: 180px;
}

.container-pag-inicial {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 50%;
}


.nomes-item {
    text-align: left;
    flex: 1;
    min-width: 150px;
    max-width: 200px;
}

.nomes-item h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.imagens-de-baixo{
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin-top: 20px;
    margin-bottom: 60px;
}

#imagem-de-baixo1{
    margin-left: 180px;
    width: 150px;
    height: 70px;
}

#imagem-de-baixo2{
    margin-left: 810px;
    width: 150px;
    height: 100px;
    margin-top: -16px;
}

#biblioteca {
    text-align: center;
    padding-top: 100px;
}

.biblioteca-container h1 {
    font-size: 40px;
    font-weight: 655;
    color: #3B1745;
    line-height: 50px;
    margin-bottom: 25px;
    margin-left: 450px;
}

.biblioteca-container p {
    font-size: 20px;
    font-weight: 300;
    color: black;
    margin-bottom: 40px;
    max-width: 800px;
    margin: 0 auto;
    margin-left: 450px;
}

#retangulo-biblioteca {
    width: 1112px;
    height: 696px;
    background-color: #E9DEF2;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 47px;
    padding: 20px;
    margin-top: 38px;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.coluna.maior {
    width: 40%;
}

.item {
    width: 235px;
    height: 44px;
    background-color: #D3C4E0;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    border-radius: 47px;
    margin-bottom: 10px; 
    padding: 0 10px; 
}

.item img {
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
}

.item p {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 0; 
}





